<div>
    <h2>Solicitudes de crédito</h2>
    <button (click)="createNewRequest()" class="create">Agregar <i class="fa-solid fa-plus"></i></button>
    <table class="table table-striped">
        <thead>
            <tr class="text-center">
                <th>Propósito</th>
                <th>Monto</th>
                <th>Estado</th>
                <th>Usuario</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let request of creditRequests" class="text-center">
                <td>{{ request.purpose }}</td>
                <td>{{ request.amount }}</td>
                <td>{{ request.status }}</td>
                <td>{{ request.userId }}</td>
                <td>
                    <button class="btn btn-info btn-sm" (click)="viewDetail(request.id)">
                        <i class="fas fa-pen"></i>
                    </button>
                    <button class="btn btn-danger btn-sm" (click)="deleteRequest(request.id)">
                        <i class="fas fa-trash"></i>
                    </button>
                    <button class="btn btn-warning btn-sm"
                        (click)="updateStatus(request.id, 'pendiente')">Pendiente</button>
                    <button class="btn btn-success btn-sm"
                        (click)="updateStatus(request.id, 'aprobada')">Aprobada</button>
                    <button class="btn btn-secondary btn-sm"
                        (click)="updateStatus(request.id, 'rechazada')">Rechazada</button>
                </td>
            </tr>
        </tbody>
    </table>


</div>